body{
    font-family: 'Pacifico', cursive;
    font-family: 'Poppins', sans-serif;
    
}
header{
    
    /* width: 1302px;
    height: 646px; */
    margin: 0 auto;
    
    background-color: black;
    color: white;
    
}
header .main{
    display:flex;
    
    justify-content: space-between;
    padding: 10px 100px;
}
/* header .main .text{
    width: 50%;
} */
header .main img{
    position: relative;
    top: 14px;
    margin-top: 23px;
    width: 583px;
    height: 613px;
    
} 


header .main h1{
    font-size: 70px;
    text-shadow: 1px 0.5px gray;
}
header .main p{
    font-size: 16px;
    color: gray;
}
header .main button{
    background-color: red;
    border: none;
    border-radius: 5px;
    padding:  8px 15px;
    color: white;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
    
}
.body{
    display: flex;
    justify-content: space-between;
    
    width: 1302px;
    margin: 130px auto;
}
.link{
    
    width: 312px;
    height: 312px;
    background-color:rgb(16, 16, 16); 
    text-align: center;
    border-radius: 10px;

}
.link button{
    margin: 20px 0;
    width: 252px;
    height: 64px;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    font-weight: 500;
    color: #161616;
    cursor: pointer;
    
    
    
}
.blogs{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    width:990px;
    margin-left: 24px;


    
}
.blog{
    /* border: 2px solid red; */
    border-radius: 12px;
    box-shadow: 0 0 5px gray;
}
.info h3{
    padding-left: 10px;
}
.info button{
    margin-left: 10px;
    margin-top: 8px;
    border-radius: 5px;
    border: 1px solid lightgray;
    font-size: 1.1em;
    padding: 2px 5px;
    cursor: pointer;
    
}
.link a {
    text-decoration: none;
    color: black;
}
.clock, .msg{
    display: flex;
    align-items: center;
   
}
.icon{
    display: flex;
    justify-content:space-around;
}
footer{
    color: white;
    background-color: black;
    min-width: 100%;
    height: 444px;

    
    
}
footer h1{
    position: relative;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    top: 130px;
    
}
footer .text{
    position: relative;
    top: 220px;
    display: flex;
    justify-content:center ;
    gap: 30px;
}
hr{
    position: relative;
    top: 150px;
    width: 80%;
    
}


/*--------------------------------------------------------------
-------------------------small device--------------------------*/
@media  only screen and (max-width:576px){
    header{
        width: 100%;
    }
    header .main{
      flex-direction: column;
      align-items: center;
    }
    header .text{
       text-align: center;
    }
    header .main h1{
        font-size: 30px;
    }
    header .main p{
        font-size: 10px;
    }
    header .main img{
       position: relative;
       top: 14px;
      width: 250px;
      height: 270px;

    }
    .body{
        display: inline;
        align-items: center;
    }
    .body .link{
        margin: 0 auto;
        background-color: white;

        ;
    }
    .blogs{
        grid-template-columns: repeat(1, 1fr);
        width: 85%;
        margin: 0;
        width: 100%;
        align-items: center
        
    }
    .blog img{
        width: 100%
        
    }
    footer{
        width: fit-content;
        height: 820px;
    }
   footer .text{
    flex-direction: column;
    align-items: center;
   }
}



/*--------------------------------------------------
--------------- medium device----------------------- */

@media only screen and (min-width:577px) and (max-width:1200px) {
    header{
    width:100%
    }
    header .main{
        padding: 10px 15px;
    }
    header .main .text{
        padding-left: 50px;
    }
    header .main h1{
        font-size: 45px;
    }
    header .main p{
        font-size: 12px;
    }
    header .main img{
        position: relative;
        top: 16px;
       width: 400px;
       height: 430px;
    }
    .body .link{
        margin: 0 auto;
        background-color: white;
        display: flex;
        width: 100%;
        column-gap: 20px;
        height: fit-content;
        
        }

        .link button{
            background-color: white;
            box-shadow: 0 0 5px wheat;
        }
    .body{
        
        flex-direction: column;
        width: 100%;
        margin-top: 20px;
    }
    .blogs{
        grid-template-columns: repeat(2, 1fr);
        margin: 0;
        
        width: 100%;
        align-items: center
    }
    .blog img{
        width: 100%;
    }
    #last-blog{
        display: none;
    }
    footer{
        width: 100%;
        height: 800px;
    }
    footer .text{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        margin: 0 10%;
        font-size: 14px;
        justify-items: center;
        
       }
       .text .special{
        position: relative;
        left: 115%;
        bottom: 30px;
       }

}
